@page
@model IndexModel
@{
    ViewData["Title"] = "Inventory System Home Page";
}

<div class="text-center">
    <h1 class="display-4">ยินดีต้อนรับ</h1>
    <p>ร้านขายของที่ขายดีที่เจ้าของร้านหน้าตาดีที่สุด</a></p>
    <img src="/Image/banner.jpg" width="50%"/>
</div>
